.title {
	background-color: #008000;
	padding: 20px;
	text-align: center;
	font-size: 24px;
	letter-spacing: 2px;
	font-weight: bold;
	font-family: 'Courier New', Courier, monospace;
	z-index: 10000;
	position: absolute;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #000;
}

section {
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2px;
	flex-wrap: wrap;
	overflow: hidden;
}

section::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(#000, #0f0, #000);
	animation: animate 5s linear infinite;
}

@keyframes animate {
	0% {
		transform: translateY(-100%);
	}

	100% {
		transform: translateY(100%);
	}
}

section span {
	position: relative;
	display: block;
	width: calc(6.25vw - 2px);
	height: calc(6.25vw - 2px);
	background: #181818;

	transition: 1.5s;
}

section span:hover {
	background: #0f0;
	transition: 0s;
}

section .signin {
	position: absolute;
	width: 400px;
	background: #222;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px;
	border-radius: 4px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 9);
}

section .signin .content {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 40px;
}


@media (max-width: 900px) {
	section span {
		width: calc(10vw - 2px);
		height: calc(10vw - 2px);
	}
}

@media (max-width: 600px) {
	section span {
		width: calc(20vw - 2px);
		height: calc(20vw - 2px);
	}
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
}

.button-container {
	display: none;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.cool-button {
	width: 700px;
	border: 2px solid black;
	padding: 50px;
	background-color: white;
	color: black;
	border-radius: 10px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	overflow: hidden;
	margin-bottom: 10px;
	z-index: 100000;

}

.cool-button:hover {
	background-color: #f0f0f0;
}

.cool-button img {
	width: 10%;
	object-fit: cover;
	border-radius: 10px;
}
